<html lang='es'>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>Bajar Caja</title>
		{% load staticfiles %}
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bajarcaja.css' %}">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		{% block scripts %}{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Bajar Caja</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if not user.is_authenticated %}
						<li><a href="{% url 'django.contrib.auth.views.login' %}">Identificarse</a>
						<li><a href="{% url 'register' %}">Crear una nueva cuenta</a>
						{% else %}
						<li><a href="{% url 'show_files' %}">Ver mis archivos</a>
						<li><a href="{% url 'upload_file' %}">Subir un archivo</a>
						<li><a href="{% url 'django.contrib.auth.views.logout' %}">Terminar sesión</a>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container" id='content'>
			{% block content %}
				<div class="starter-template">
					<h1>BajarCaja: Comparte tus archivos</h1>
					<p class="lead">Descubre la nueva manera de compartir archivos con BajarCaja.<br> Comenzar es sencillo; sólo registrate y empieza a compartir!</p>
				</div>
			{% endblock %}
		</div>

	</body>
</html>