{% extends 'home.html' %}

{% block scripts %}

<script type='text/javascript'>
$(document).ready(function(){
	$(".checkboxes").click(function(){
		var f_id = $(this).attr("id");
		var csrftoken = $("input[name='csrfmiddlewaretoken']").attr('value');
		$.ajax({
			type:'POST',
			url: "{% url 'swap_public' %}",
			data: {file_id:f_id,csrfmiddlewaretoken: csrftoken},
			success:function(data){
				$('#span'+f_id).html(data.estado);
			}
		});
	});
});
</script>

{% endblock %}

{% block content %}
	{% csrf_token %}
	{% if latest_files %}
	    <table class="table table-striped">
	    	<thead>
	    		<th>Archivo</th>
	    		<th>Tamaño</th>
	    		<th>Fecha de publicación</th>
	    		<th>Estado de archivo</th>
	    		<th>Publicado</th>
	    		<th>Eliminar</th>
	    	</thead>
	    	<tbody>
			    {% for file in latest_files %}
			    	<tr>
			        	<td>
			        		<a href="{% url 'download_file' file_id=file.id %}">
			        		{{ file.filename }}
			        		</a>
			        	</td>
			        	<td>{{ file.size|floatformat:2 }} {{ file.scale_sz }} </td>
			        	<td> {{ file.upload_date }}</td>
			        	<td><span id='span{{file.id}}'>{% if file.public %} Público {% else %} Privado {% endif %}</span></td>
			        	<td><input type='checkbox' class='checkboxes' id='{{file.id}}' {% if file.public %} checked {% else %}{% endif %}></td>
			        	<td><a href="{% url 'delete_file' file_id=file.id %}">Eliminar</a></td>
			        </tr>
			    {% endfor %}
			</tbody>
	    </table>
	{% else %}
	    <p>No hay archivos.</p>
	{% endif %}
{% endblock %}